/* >> Erstelltler von mayi.-oi!
      Datum: April.13.2026 <<*/

::-webkit-scrollbar {
      display: none;
}

body {
      background-color: #131920;
}

.Hauptdiv {
      margin: auto;
      width: 70%;
      cursor: default;
      text-align: left;
}

.info {
      display: flex;
      gap: 12px;
}

.info a {
      color: #ffffff;
      font-family: Google-sans;
      font-size: 17px;
      text-decoration: none;

      transition: all 0.2s ease;
}

.info a:hover {
      color: #78a1f9;
}

.Haupt-blog {
      background-color: #0d0d0d;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      padding: 12px;

      color: #ffffff;
      font-family: Google-sans;
      font-weight: 600;
}

.Haupt-blog img {
      width: 42px;
}

.blog-spotlight {
      width: 100%;
      height: 240px;
      overflow: visible;
}

.blog-spotlight img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
}

.blog-text h2 {
      color: #ffffff;
      font-family: Google-sans;
      font-weight: 500;
      text-decoration: underline;
}

.blog-text {
      background-color: #434343;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;

      padding: 14px;
      line-height: 0.3;
      margin-top: -14px;

      cursor: pointer;
      transition: all 0.45s ease;
}

.blog-text:hover {
      background-color: #2e2e2e;
}

.Footer {
      margin-top: 6%;
      background-color: #000000;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      padding: 28px;
      text-align: left;

      color: #ffffff;
      font-family: Google-sans;
      font-size: 18px;
      font-weight: 500;
}

.cool-links {
      display: flex;
      gap: 8px;
      
}

.yt {
      opacity: 0.5;
      transition: all 0.2s ease;
      cursor: pointer;
}

.yt:hover {
      opacity: 1;
}

.git {
      opacity: 0.5;
      transition: all 0.2s ease;
      cursor: pointer;
}

.git:hover {
      opacity: 1;
}

/*  Font biblotik 9000 lol*/
@font-face {
      font-family: Google-sans;
      src: url(Res/Font/Google_Sans/static/GoogleSans-Regular.ttf);
      font-weight: 400;
      font-display: swap;
}

@font-face {
      font-family: Google-sans;
      src: url(Res/Font/Google_Sans/static/GoogleSans-Medium.ttf);
      font-weight: 500;
      font-display: swap;
}

@font-face {
      font-family: Google-sans;
      src: url(Res/Font/Google_Sans/static/GoogleSans-SemiBold.ttf);
      font-weight: 600;
      font-display: swap;
}

@font-face {
      font-family: Google-sans;
      src: url(Res/Font/Google_Sans/static/GoogleSans-Bold.ttf);
      font-weight: 700;
      font-display: swap;
}

@font-face {
      font-family: Monterrat;
      src: url(Res/Font/Montserrat/static/Montserrat-Regular.ttf);
      font-weight: 400;
      font-display: swap;
}

@font-face {
      font-family: Monterrat;
      src: url(Res/Font/Montserrat/static/Montserrat-Medium.ttf);
      font-weight: 500;
      font-display: swap;
}

@font-face {
      font-family: Monterrat;
      src: url(Res/Font/Google_Sans/static/GoogleSans-SemiBold.ttf);
      font-weight: 600;
      font-display: swap;
}

@font-face {
      font-family: Monterrat;
      src: url(Res/Font/Montserrat/static/Montserrat-Bold.ttf);
      font-weight: 700;
      font-display: swap;
}

@font-face {
      font-family: Jetbrains;
      src: url(Res/Font/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf);
      font-weight: 600;
      font-display: swap;
}

/*  Moblien freundlich design lol*/
@media (max-width: 768px) {
 
      .info {
            align-self: center;
            justify-content: center;
      }

      .Hauptdiv {
            width: 100%;
      }

      .blog-spotlight {
            height: 140px;
      }

      .blog-text h2 {
            font-size: 20px;
      }

      .Footer {
            margin-top: 22%;
      }
}